body{
    background-color: #181C14;
    color: #ECDFCC;
    font-family: monospace;
}

a{
    color: #ECDFCC;
    text-decoration: none;
}
footer{
    background-color: #373b33;
    position:absolute;
    bottom: 0;
    text-align: center;
}
.img-hero{
    position: relative;
}
.img-hero::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    background-image: url("assets/palestine code.png");
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    position: relative;
}

@media only screen and (max-width: 768px) {/*Batas ukuran mobile*/
    [class*="col-"] {
      width: 100%;
    }
  }